body {
    font-family: sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-image: linear-gradient(#1a63a7, #0a234b);
    color: white;
    padding: 1rem;
    text-align: center;
}

.header__title {
    color: #f6f6f6;
    font-size: 2rem;
    margin: 0;
}

.header__link {
    color: #f6f6f6;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #0d3b66;
}

.proyecto {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background: #0d3b66;
    color: white;
    margin: auto;
}

a {
    color: #0d3b66;
    text-decoration: none;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contacto p {
    display: flex;
    justify-content: center;
    flex-direction: block;
    align-items: center;
}

.contacto a {
    display: flex;
    justify-content: center;
    flex-direction: block;
    align-items: center;
    margin-right: 30px;
}

.logo__contacto {
    width: 30px;
    height: 30px;
}